

.adding-form {
    max-width: 500px;
    margin: 8px auto;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  
  .adding-form h2 {
    text-align: center;
  }
  
  .addform-group {
    margin: 10px 0;
  }
  .addform-group span{
    
    font-size: 12px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
  }
  
  button {
    width: 50%;
    padding: 10px;
    

    background: #3d71e1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background: #0056b3;
  }

    
